<!-- name of layout -->
{{!< ../layout/default}}

{{#contentFor 'pageStyles'}}

{{/contentFor}}


<div class="container"></div>

<div id="welcome-screen" class="reveal-modal welcome">
    <div class="welcome-title"></div>
    <div class="welcome-collage"></div>
    <div class="welcome-text">
        <p>Make brilliant <img class="collage-text" src="../../images/welcome/collage-text.png">with your pictures</p>
        <div class="services">
            <p>Any picture from</p>
            <ul class="logos">
                <li class="facebook"></li>
                <li class="flickr"></li>
                <li class="instagram"></li>
            </ul>
        </div>
    </div>
    <button class="button blue close-reveal-modal">Start</button>
</div>

{{#contentFor 'pageScripts'}}

{{/contentFor}}





